/* line 17, ../../../../../../../../../home/fausto/.rvm/gems/ruby-2.0.0-p247@wordless/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../home/fausto/.rvm/gems/ruby-2.0.0-p247@wordless/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../home/fausto/.rvm/gems/ruby-2.0.0-p247@wordless/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../home/fausto/.rvm/gems/ruby-2.0.0-p247@wordless/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../home/fausto/.rvm/gems/ruby-2.0.0-p247@wordless/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../home/fausto/.rvm/gems/ruby-2.0.0-p247@wordless/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../home/fausto/.rvm/gems/ruby-2.0.0-p247@wordless/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../home/fausto/.rvm/gems/ruby-2.0.0-p247@wordless/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../home/fausto/.rvm/gems/ruby-2.0.0-p247@wordless/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../theme/assets/stylesheets/screen.sass */
.page-wrapper {
  width: 960px;
  margin: 0 auto;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  color: #333333;
}
/* line 1, ../../theme/assets/stylesheets/_site_header.sass */
.page-wrapper header.site-header {
  padding: 20px;
  background: #355593;
  color: white;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 7, ../../theme/assets/stylesheets/_site_header.sass */
.page-wrapper header.site-header a {
  color: white;
}
/* line 10, ../../theme/assets/stylesheets/_site_header.sass */
.page-wrapper header.site-header h1 {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: bold;
}
/* line 15, ../../theme/assets/stylesheets/_site_header.sass */
.page-wrapper header.site-header h2 {
  font-size: 15px;
}
/* line 14, ../../theme/assets/stylesheets/screen.sass */
.page-wrapper section.site-content {
  padding: 20px;
}
/* line 17, ../../theme/assets/stylesheets/screen.sass */
.page-wrapper section.site-content h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: red;
}
/* line 3, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content .aligncenter, .page-wrapper section.site-content dl.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 9, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content .alignleft {
  display: inline;
  float: left;
}
/* line 12, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content .alignright {
  display: inline;
  float: right;
}
/* line 15, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content .wp-caption {
  border: 1px solid #dddddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 23, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content .wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
  -apple-user-drag: none;
  -khtml-user-drag: none;
  -webkit-user-drag: none;
}
/* line 31, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content .wp-caption-dd {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}
/* line 37, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content pre {
  font: 12px/18px Consolas, Monaco, monospace;
}
/* line 40, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content td {
  color: black;
  font-size: 11px;
  margin: 8px;
}
/* line 45, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content strong {
  font-weight: strong;
}
/* line 48, ../../theme/assets/stylesheets/_tinymce.sass */
.page-wrapper section.site-content em, .page-wrapper section.site-content i {
  font-style: italic;
}
/* line 1, ../../theme/assets/stylesheets/_post.sass */
.page-wrapper section.site-content .post {
  margin-bottom: 20px;
}
/* line 4, ../../theme/assets/stylesheets/_post.sass */
.page-wrapper section.site-content .post header {
  margin-bottom: 10px;
}
/* line 7, ../../theme/assets/stylesheets/_post.sass */
.page-wrapper section.site-content .post header h3 {
  font-size: 15px;
  font-weight: bold;
}
/* line 11, ../../theme/assets/stylesheets/_post.sass */
.page-wrapper section.site-content .post header h3 a {
  color: #355593;
  text-decoration: none;
}
/* line 15, ../../theme/assets/stylesheets/_post.sass */
.page-wrapper section.site-content .post strong, .page-wrapper section.site-content .post b {
  font-weight: bold;
}
/* line 18, ../../theme/assets/stylesheets/_post.sass */
.page-wrapper section.site-content .post sub {
  font-size: xx-small;
  vertical-align: sub;
}
/* line 22, ../../theme/assets/stylesheets/_post.sass */
.page-wrapper section.site-content .post sup {
  font-size: xx-small;
  vertical-align: super;
}
