wp-config.php
Movefile
*.sql
public_html/wp-content/themes/geoblog/tmp/*
!public_html/wp-content/themes/geoblog/tmp/.gitkeep
public_html/wp-content/themes/geoblog/theme/.sass-cache/
public_html/wp-content/uploads/*
.DS_Store
.sass-cache
log/*
