- global $post

  - $projects = simple_fields_get_post_group_values($post->ID, 'Bene Confiscato - Progetti', $use_name = true, $return_format  = 2)
  %ul
    - foreach($projects as $project)
      %li
        .titolo_progetto = $project['Titolo Progetto']
        .descrizione
          %p = $project['Testo Progetto']

