@import "compass"
@font-face
  font-family: 'special'
  src: url('../fonts/SpecialElite.ttf')

+global-reset

html, body
  width: 100%
  height: 100%
  overflow: hidden


h2
  font-size: 2em
  font-weight: bold

h3
  font-size: 1.5em
  font-weight: bold

h1.logo
  position: absolute
  top: 20px
  left: 20px
  font-weight: bolder
  font-family: "Anton", sans-serif
  color: white 
  opacity: 0.3  
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black
  font-size: 12em
  z-index: 1
.titolo
  position: absolute
  left: 741px
  font-weight: bold
  font-family: "Anton", sans-serif
  display: inline-block
  color: white 
  opacity: 0.3  
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black
  font-size: 2em
  z-index: 1
.beni     
  top: 75px
.confiscati     
  top: 100px
.piemonte    
  top: 127px

#details 
  position: absolute
  z-index: 2
  padding: 20px 
  left: 1%
  right: 1%
  top: 200px
  bottom: 60px
  background-color: yellow
  margin: auto

.libera
  background-image: url(../images/libera.jpg)
  height: 140px
  width: 140px
  position: absolute
  top: 30px
  right: 30px
  z-index: 1

.page-wrapper
  font-family: "special", "Arial", sans-serif
  font-size: 13px
  color: #333

  @import "tinymce"

.home
  h1.logo 
    position: absolute
    top: 20px
    left: 20px
    font-weight: bolder
    font-family: "Anton", sans-serif
    color: white 
    opacity: 0.3  
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black
    font-size: 12em
    z-index: 1
  .gm-map iframe
    position: absolute

.single-bene_confiscato
  .site-content
    position: absolute
    padding-bottom: 60px
    top: 200px
    left: 40px
    right: 40px
    bottom: 75px
    background-color: yellow
    +single-box-shadow()
    +border-radius(20px)
    .pagina
      position: relative
      background-color: white
    .info
      position: relative  
      padding: 30px
    .tabs
      position: absolute
      padding: 0px
      bottom: -36px
      right: 46px
      font-size: 1.2em  
      a:link, a:visited, a:hover, a:active
        color : black
        text-decoration: none
      .tab 
        padding: 10px
        margin-right: 10px
        display: inline-block
        background-color: orange
        +single-box-shadow(#333333,0px,2px,4px,false,false)
        +border-bottom-radius(10px)
      .tab_storia
        bottom: 70px
      .tab_video
        margin-right: 0
    .content
      position: absolute
      overflow-y: auto
      top: 30px
      left: 285px
      right: 50px
      bottom: 40px
  .sidebar
    float: left

.geo-menu
  position: absolute
  width: 20%  
  top: 200px
  left: 1%  
  padding: 5px
  opacity: 0.7
  .typologies 
    position: absolute
    padding-top: 38px
    width: 184px
    .typology
      padding: 10px
      position: absolute
      top: 0
      +single-box-shadow(#333333,0px,-2px,4px,false,false)
      +border-top-radius(7px)
      cursor: pointer
    .typology-aziende
      position: absolute
      background-color: yellow
      left: 1%
      width: 50%
    .typology-immobili
      background-color: orange
      left: 119px 
      width: 50%
  .provinces
    +border-bottom-radius(7px)
    padding: 20px
    left: 1%
    max-height: 900%
    width: 189px
    +single-box-shadow(#333333,0px,2px,4px,false,false)
  .provinces-aziende  
    position: absolute
    background-color: yellow
    overflow-y: auto
    line-height: 1.5em 
    border-bottom: 10px solid yellow
    border-top: 10px solid yellow
  .provinces-immobili
    position: absolute
    background-color: orange
    overflow-y: auto
    line-height: 1.5em 
    border-bottom: 10px solid orange
    border-top: 10px solid orange
  h3
    font-weight: bold
    font-size: 1.4em
  h4
    font-weight: bold
    font-size: 1.2em
    text-indent: 0px
  h5
    font-weight: bold
    text-indent: 15px
  ul.provinces
    display: none
    text-indent: 30px
    &:first-of-type
      display: block
  .geopost
    cursor: pointer
    text-decoration: underline

.geo-legend
  position: absolute
  bottom: 60px
  right: 30px
  background-color: rgba(255, 255, 255, 0.7)
  border: 1px solid black
  padding: 5px
  +box-shadow()

footer
  position: fixed
  bottom: 0
  width: 100%
  height: 35px
  color: white
  background-color: black
  font-size: 1.8em
  padding: 10px 10
  .xmedialab
    background-image: url(../images/xmedialab.jpg)
    position: relative
    display: inline-block
    height: 25px
    top: 3px
    left: 10px
    width: 94px
    bottom: 0px
  .geoblog
    color: yellow
    left: 110px
    top: 5px
    position: absolute
    display: inline-block
  .storia
    position: absolute
    left: 50%
    top: 5px
    color: orange
    display: inline-block
  .osservatorio
    position: absolute
    right: 20px
    top: 5px
    color: red
    display: inline-block

.page .site-content
  position: absolute  