@import "compass"

+global-reset

.page-wrapper
  width: 960px
  margin: 0 auto
  font-family: "Helvetica", "Arial", sans-serif
  font-size: 13px
  color: #333

  .geo-menu
    h3
      font-weight: bold
      font-size: 1.4em
    h4
      font-weight: bold
      font-size: 1.2em
    h5
      font-weight: bold

  .geopost
    cursor: pointer
    text-decoration: underline

  @import "site_header"

  section.site-content
    padding: 20px

    h2
      font-size: 20px
      margin-bottom: 20px
      color: #777

    @import "tinymce"
    @import "post"

