@import "compass"

+global-reset

html, body
  width: 100%
  height: 100%
  overflow-x: hidden
  overflow-y: hidden

h2
  font-size: 2em
  font-weight: bold

h3
  font-size: 1.5em
  font-weight: bold

h1.logo
  background-image: url(../images/titolo.png)
  height: 150px
  width: 703px
  text-indent: -9999px

.libera
  background-image: url(../images/libera.jpg)
  height: 140px
  width: 140px      
  position: absolute
  top: 30px
  right: 30px
  z-index: 1

.page-wrapper
  font-family: "Helvetica", "Arial", sans-serif
  font-size: 13px
  color: #333

  @import "tinymce"

.home
  h1.logo
    position: absolute
    top: 30px
    left: 30px
    z-index: 1

  .gm-map iframe
    position: absolute

.single-bene_confiscato
  background-color: pink
  .site-content
    padding-bottom: 60px

    .info
      float: left

  .sidebar
    float: left

.geo-menu
  position: absolute
  overflow-y: auto
  width: 20%
  height: 60%
  top: 200px
  left: 30px
  padding: 5px
  .typologies 
    position: relative
    padding-top: 38px
    width: 184px
    .typology
      padding: 10px
      position: absolute
      top: 0
      opacity: 0.7
      +single-box-shadow(#333333,0px,-2px,4px,false,false)
      +border-top-radius(7px)
    .typology-azienda
      background-color: yellow
    .typology-immobili
      background-color: orange
      left: 90px  
  .provinces
    opacity: 0.7
    +border-bottom-radius(7px)
    padding: 20px
    +single-box-shadow(#333333,0px,2px,4px,false,false)
  .provinces-azienda
    background-color: yellow
  .provinces-immobili
    background-color: orange
  h3
    font-weight: bold
    font-size: 1.4em
  h4
    font-weight: bold
    font-size: 1.2em
  h5
    font-weight: bold
  ul.provinces
    display: none
    &:first-of-type
      display: block
  .geopost
    cursor: pointer
    text-decoration: underline

.geo-legend
  position: absolute
  bottom: 60px
  right: 30px
  background-color: rgba(255, 255, 255, 0.7)
  border: 1px solid black
  padding: 5px
  +box-shadow()

footer
  position: fixed
  bottom: 0
  width: 100%
  height: 30px
  color: white
  background-color: black
  font-size: 1.8em
  padding: 10px 10

  .xmedialab
    background-image: url(../images/xmedialab.jpg)
    position: relative
    display: inline-block
    height: 25px
    width: 94px
    bottom: 0px
  .geoblog
    color: yellow
    left: 110px
    position: absolute
    display: inline-block
  .storia
    position: absolute
    left: 50%
    color: orange
    display: inline-block
  .osservatorio
    position: absolute
    right: 20px
    color: red
    display: inline-block

