- $geoblog_what = "Che cos'è il Geoblog?"
= link_to($geoblog_what, get_permalink(get_page_by_title($geoblog_what)))
- $geoblog_history = "Storia del Geoblog"
= link_to($geoblog_history, get_permalink(get_page_by_title($geoblog_history)))
- $observatory = "Osservatorio"
= link_to($observatory, get_permalink(get_page_by_title($observatory)))

